@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

.container
{
    margin-top: 2%;
    font-family: 'DM Sans', sans-serif;

}

.card
{
    background-color: rgba(0, 0, 0, 0.041);
    border-radius: 10px;
    box-shadow: 8px 10px 43px -12px rgba(0,0,0,0.40);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin:10px;
    padding: 16px;
    width: 15rem;
    justify-content: space-around;

}


.card img{
    border-radius: 10px;
    height: 150px;
    width: 150px;
}



h3,a{ font-family: 'Saira Stencil One', cursive;}

@media only screen and (max-width: 800px) {
        
    .col-sm-4{
        display: flex;
        justify-content: center;
    }

    .card {
        margin:10px;
        padding: 16px;
        width: 13rem;
    }
    .card img{
        border-radius: 10px;
        height: 70px;
        width: 70px;
    }

}

