<div class="container">

    <img src="assets/LFAVIN7Gym.png" alt="">
    <form [formGroup]="formLogin">
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">         
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
          <small id="emailHelp" class="form-text text-muted">No comparta sus datos con nadie.</small>
        </div>
     
        <button [disabled]="!formLogin.valid" type="submit" class="btn btn-light" (click)="login()">Acceder</button>
      </form>

      <p *ngIf="!noError" class="text-danger" id="errorLogin">
        Correo y/o contraseña incorrecta.
      </p>  

</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise" [fullScreen] = "true"><p style="color: white" > Ingresando... </p></ngx-spinner>

