<div class="container mt-5">
    <div class="row">
        <div class="col">
            Cliente
        </div>
        <div class="col">
            Plan
        </div>
        <div class="col">
            Vencimiento
        </div>
        <div class="col">
            Total
        </div>
    </div>

    <div class="row mt-3" *ngFor="let item of planList">
        <div class="col">
            {{item.nombre}} {{item.apellido}}
        </div>
        <div class="col">
            {{item.plan}}
        </div>
        <div class="col">
            {{item.vencimiento}}
        </div>
        <div class="col" id="eliminar">
           <span> {{item.total}}</span>            
           <button class="btn btn-alert" (click)="delete(item.id)">X</button>
           
        </div>
      
    </div>
    
</div>