@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');



.row{
    font-family: 'Saira Stencil One', cursive;
    background-color: #061922;
    color: whitesmoke; 
    border-radius: 5px;
    text-align: center;
    opacity: 0.9;
}