@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');



.row{
    font-family: 'Saira Stencil One', cursive;
    background-color: #061922;
    color: whitesmoke; 
    border-radius: 5px;
    text-align: center;
    opacity: 0.9;
}

button{    
    color:whitesmoke;
    padding: 0px;
}
button:hover{color: red;}

#eliminar
{
    display: flex;
}

#eliminar span
{
    flex-grow: 1;
    margin-left: 15px;
}

@media only screen and (max-width: 500px) {

    .col{
        font-size: 10px;
   } 
    #eliminar{
        text-align: center;
        display: block;       
        span{
            margin-left: 0px;
        }
    }

 }

